* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    background-color: rgb(70, 134, 62);
}
.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
nav a img {
    width: 140px;
    padding: 10px;
    margin-right: 600px;
    margin-top: -10px;
    border-radius: 500px;
  }
footer {
    background-color: rgb(0, 0, 0);
}

.footercontainer {
    width: 97%;
    padding: 70px 30px 10px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect on social media icons */
.icons a:hover {
    background-color: #383737;
    transition: 0.5s;
}

.icons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerbutton {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbutton p {
    color: white;
    font-size: 20px;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin: 0px 5px;
}
html, body {
    overflow-x: hidden;
}
